name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Move to project folder
        run: cd temp-next

      - name: Install dependencies
        run: npm ci
        working-directory: temp-next

      - name: Run build
        run: npm run build
        working-directory: temp-next

      - name: Run tests
        run: npm run test || echo "No tests configured"
        working-directory: temp-next